.game-list {
	place-items: center;
	height: 80%;
    grid-template-rows: 50% 50px auto;
    align-items: start;
}
.imgDiv{
	display: grid;
	align-items: center;
	align-content: center;
	margin-top: 80px;
}
.choice1{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: .9em;
    font-weight: 600;
    align-content: center;
    z-index: 999;
    font-size: 11px;
    text-align: center;
}
.choice1 div{
	border-top: 2px solid #1E1E1E;
	border-left: 1px solid #1E1E1E;
	border-right: 1px solid #1E1E1E;
	border-bottom: 2px solid #1E1E1E;
	border-radius: 0 10px 0 0;
	height: 50px;
    padding: 15px 0;
    font-size: 13px;
}
.choice1 div:first-child{
	border-left: 2px solid #1E1E1E;
}
.choice1 div:last-child{
	border-right: 2px solid #1E1E1E;
}
.choice div img, .choice1 div{
    cursor: pointer;
}
.choice{
	width: 90%;
	height: 90%;
	padding: .5em;
	padding-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
	border-left: 2px solid #1E1E1E;
	border-right: 2px solid #1E1E1E;
	border-bottom: 2px solid #1E1E1E;
	overflow-y: auto;
}
.choice .under{
    display: none;
}
.choice1 div.act, .choice1 div:hover{
	border-bottom: none;
}
.choice div img:hover{
	background-color: #f2f2f2;
}
/* 파일 대체 */
.card-img {
    position: relative;
	align-content: center;
    border: 2px solid #333;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
/*수정*/
.character_area{
    display: grid;
	position: relative;
	width: 100%;
    max-width: 500px; /* 필요에 따라 조정 */
    height: auto;
}
.character_area img {
    grid-area: 1 / 1;
    width: 50vw;
    height: auto;
    border-radius: 30px;
	-webkit-touch-callout:none;
}
.character_area img.save{
    border-radius: 0;
}
.character_area img.chara_base {
    z-index: 2;
} 
.character_area img.chara_eye {
    z-index: 3;
}  
.character_area img.chara_mouth {
    z-index: 3;
}  
.character_area img.chara_hair {
    z-index: 4;
}  
.character_area img.chara_cloth {
    z-index: 5;
} 
.character_area img.chara_accessory {
    z-index: 5;
}
.character_area img.chara_background {
    z-index: 1;
}
.choice img{
	width: 100%;
	padding: 5px;
	border: 1px solid #1E1E1E;
	border-radius: 50%;
	background-color: white;
	-webkit-touch-callout:none;
}
.howtoModal{
	font-family: 'NeoDunggeunmoPro-Regular', 'DNFBitBitv2';
	display: inline-block;
	vertical-align:middle;
	padding: 24px 16px;
	width: 70%;
	height: auto;
	background-color: rgba(255,255,255, 92%) !important;
	font-size: 14px;
}
.howtoModal b{
	font-size: 20px;
}
.howtoCont{
	word-break: keep-all;
}

/* 반응형 스타일 */
@media (max-width: 900px) {
	.imgDiv{
		height: 50% !important;
	}
}

@media (min-width: 901px) {
	.choice1, .choice{
		width: 75%;
	}
	.imgDiv{
		height: 80% !important;
	}
	.game-list {
		height: 100%;
	}
	.character_area img {
		width: 100%;
	}
	.choice img {
		width: 70%;
	}
	.howtoModal {
		width: 50%;
	}
}