/* */
.bold{
	font-weight: bolder;
}
label.topMenu{
	background-color: transparent !important;
}
/* {
  box-shadow: 0px 0px 0px 1px black;
}*/
.bi-x::before {
  font-size: 1.74rem;
  vertical-align: -0.28em;
}

.bi-plus::before {
  font-size: 1.74rem;
  vertical-align: -0.28em;
}

.bi-dash::before {
  font-size: 1.93rem;
  vertical-align: -0.8rem;
  line-height: 0;
  padding-top: .8em !important;
}
.bi::before{
  padding-top: .4rem;
}
.title {
  width: 100%;
}

input.tab-frame {
  display: none;
}

input.tab-frame:not(:checked) + .tab {
  display: none;
}

/*.five ~ .grid > input.tab-frame:nth-child(1):checked ~ .two > :nth-child(2) {
  background-color: gray !important;
}*/
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: darkgrey;
}

.window {
  padding: 0.4rem;
}

.grid * {
  gap: 0.4rem;
}

.grid {
  user-select: none;
  height: calc(100vh - .8rem);
  display: grid;
  grid-template: "one two three" "four five five" "four six six";
  grid-template-columns: minmax(max-content, 1fr) 4fr auto;
  grid-template-rows: auto auto 1fr;
}

@supports (backdrop-filter: blur(1rem)) or (-webkit-backdrop-filter: blur(1rem)) {
  .grid {
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.grid {
  background-color: rgba(255, 255, 255, 0.8);
}

.two > :not(.new), .five, .six {
  background-color: white;
}

.two > :not(.new) > :last-child {
  opacity: 0;
}

.two > :not(.new):hover > :last-child {
  opacity: 1;
}

.grid {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
  border-radius: 0.3rem;
}

.two > *:last-child {
  border-top-right-radius: 0.3rem;
}

.six {
  border-bottom-right-radius: 0.3rem;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
  display: flex;
  gap: 0rem;
}

.one, .two > *, .three > *, .group > *, .title {
  padding: 0.3rem;
}

.five {
  padding: 0 0.3rem;
}

.six {
  padding: 0.3rem;
}

.five > * {
  margin: 0.3rem 0;
}

.new {
  order: 1;
}

.three {
  grid-area: three;
  display: flex;
}

.four {
  grid-area: four;
  scrollbar-width: none;
  overflow: auto;
}

.group {
  padding-left: 1.5rem;
}

.five {
  grid-area: five;
  display: grid;
  /* grid-template-columns: repeat(4, auto) 3fr repeat(2, auto) 0.763fr auto; */
  grid-template-columns: repeat(1, auto) 3fr repeat(1, auto) 2fr auto;
}

i {
  font-size: 1.2915rem !important;
}

input {
  min-width: 0px;
}

.six {
  grid-area: six;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.37rem, 1fr));
  grid-template-rows: repeat(auto-fit, 6.37rem);
  scrollbar-width: none;
  overflow: auto;
}

.six i {
  font-size: 2.8rem !important;
}

.six * {
  text-align: center;
}