@charset "UTF-8";
/* 공통 스타일 */
body{
	overflow: hidden;
}
.cloth_content {
	font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Malgun Gothic", "맑은 고딕", sans-serif;
	height: 100%;
	padding-top: 4.5em;
	text-align: center;
  	margin: auto;   	
  	display: grid;
    grid-template: "how" "imgDiv" "choice1" "choice";
    grid-template-rows: 10% 1.8fr 0.15fr 1.8fr;
    place-items: center;
}
.howDiv{
	width: 100%;
}
.imgDiv, .choice1, .choice{
	height: 100%;
}
a{
	color: #666;
	text-decoration-line: none;
}
.cloth_content a:hover{
	cursor: pointer;
	color: black;
	font-weight: 600;
}
.choice1{
    height: 4%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 1em;
    font-weight: 600;
    align-content: center;
}
.choice1 div{
    border-top: 1px solid #ffa205;
    border-bottom: 1px solid #ffa205;
    padding: .5em 0;
}
.choice div img, .choice1 div{
    cursor: pointer;
}
.choice{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
}
.choice .under{
    display: none;
}
.choice1 div.act, .choice1 div:hover{
    color: white;
    background-color: #ffa205;
}
.choice div img:hover{
	background-color: #f2f2f2;
}
/* 파일 대체 */
.card-img {
    position: relative;
}
.character__area img {
    position: absolute;
}  
.character__area img.chara_eye {
    z-index: 2;
}  
.character__area img.chara_mouth {
    z-index: 2;
}  
.character__area img.chara_hair {
    z-index: 3;
}  
.character__area img.chara_cloth {
    z-index: 4;
} 
.character__area img.chara_accessory {
    z-index: 4;
}
.how{
	width: 10em;
	font-size: 0.8em;
	border-top: 1px solid #ffa205;
    border-bottom: 1px solid #ffa205;
    float: right;
}
.howto, .download{
	padding: .5em 1.3em;
    cursor: pointer;
}
.howto:hover, .download:hover{
	background-color: #ffa205;
	color: white;
}
/*수정*/
.character_area{
    display: grid;
	position: relative;
	width: 100%;
    max-width: 500px; /* 필요에 따라 조정 */
    height: auto; 
}
.character_area img {
    grid-area: 1 / 1;
    top: 0;
    left: -110;
    width: 18em;
    height: auto;
}  
.character_area img.chara_eye {
    z-index: 2;
}  
.character_area img.chara_mouth {
    z-index: 2;
}  
.character_area img.chara_hair {
    z-index: 3;
}  
.character_area img.chara_cloth {
    z-index: 4;
} 
.character_area img.chara_accessory {
    z-index: 4;
}
.choice img{
	width: 100%;
}
/* 모바일 화면에서만 보이는 스타일 */
@media only screen and ( max-width:767px){
	.cloth_content {
		padding-top: 3.5em;
	}
  	.cloth_content, .choice1 {
  		width: 100% !important;
  	}
  	.how {
  		font-size: 0.7em;
  	}
  	.howto, .download {
    	padding: .3em 1.3em;
	}
  	.character_area img {
	    width: 14em;
	}
  	.choice1{
	    font-size: 0.8em;
  	}
  	.choice{
	  	width: 100%;
	    overflow-x: auto;
  	}
}
/* 탭 화면에서만 보이는 스타일 */
@media only screen and (min-width:768px) and (max-width:1366px) {
	.cloth_content {
		padding-top: 4.5em;
	}
  	.character_area img {
	    width: 20em;
	}
  	.choice{
	  	width: 100%;
	    overflow-x: auto;
  	}
  	.choice1{
	  	width: 100%;
  	}
}
@media only screen and ( min-width : 1367px) {
	.choice{
  		overflow-y: auto;
  	}
  	.character_area img {
	    width: 20em;
	}
	.choice img{
		width: 50%;
	}
}
/* 가로모드 */
@media screen and (orientation: landscape) {
	body{
		overflow-y: auto;
	}
	.cloth_content{
		height:200%;
	}
}
