@charset "UTF-8";
/* 공통 스타일 */
body{
	overflow: hidden;
  /* background-color: lavender; */
}
.about_content {
	font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Malgun Gothic", "맑은 고딕", sans-serif;
	height: 100%;
	padding-top: 7em;
	text-align: center;
    margin: auto; 
    width: 80%;
}
a{
	color: #666;
	text-decoration-line: none;
}
.about_content a:hover{
	cursor: pointer;
	color: black;
	font-weight: 600;
}
.choice1{
    position: fixed; 
    bottom: 41%;
    height: 5%;
    width: 80%;
    padding-top: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
    font-size: 1em;
    font-weight: 600;
    border-top: 1px solid #787878;
    border-bottom: 1px solid #787878;
}
.choice div, .choice1 div{
    cursor: pointer;
}
.choice{
    position: absolute; 
    bottom: 0; 
    height: 40%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
}
.group{
    padding: 3px;
}
.choice .under{
    display: none;
}
.choice1 div.act{
    color: #ffa205;
}
.choice1 div:hover{
    color: #ffa205;
}
.choice div:hover{
  background-color: #f2f2f2;
}
/* 파일 대체 */
.card-img {
    /* width: 50rem;*/
    position: relative;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .card-img img {
    width: 100%;
  }

  .character__area {
    width: 42.8%;
    height: 42.8%;
    left: 6%;
    background-color: transparent;
    position: absolute;
  }
  
  .character__area img {
    position: absolute;
  }
  
  .character__area img.chara_eye {
    z-index: 2;
  }
  
  .character__area img.chara_mouth {
    z-index: 2;
  }
  
  .character__area img.chara_hair {
    z-index: 3;
  }
  
  .character__area img.chara_cloth {
    z-index: 4;
  }
  
  .character__area img.chara_accessory {
    z-index: 4;
  }
  
  
/* 모바일 화면에서만 보이는 스타일 */
@media only screen and ( max-width : 1366px) {	
  .about_content, .choice1 {
        width: 100% !important;
  }
  .choice1{
    font-size: 0.8em;
    bottom: 47%;
  }
	.choice{
      width: 100%;
      overflow-x: auto;
      height: 47%;
  }
}
/* PC 화면에서만 보이는 스타일 */
@media only screen and ( min-width : 1367px) {
	.choice{
        overflow-y: auto;
    }
    /* .card-img{
        display: inline-block;
    } */
	
}
