@charset "UTF-8";
/* 공통 스타일 */
.about_content, body {
	font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Malgun Gothic", "맑은 고딕", sans-serif;
	width: 100%;
	height: 100%;
	right: 10%;
	background-color: white !important;
	overflow-y: auto !important;
}
.about_content{
	padding-top: 15px;
}
a{
	color: #666;
	text-decoration-line: none;
}
.fc-row.fc-week.table-bordered tr{
	height: 2em;
	
}
.fc-event-container {
	cursor: pointer !important;
}
/* 요일 */
td.fc-sun, th.fc-sun {
	background-color: rgb(180, 0, 0, 3%);
}
.fc-sun span{
	color: mediumvioletred !important;
}
td.fc-sat, th.fc-sat {
	background-color: rgb(0, 0, 180, 3%);
}
.fc-sat span{
	color: dodgerblue !important;
}
/* 바탕색  */
.bg-red{
	background-color: rgb(255, 160, 160, 0.2) !important;
}
.bg-green{
	background-color: rgb(152, 211, 168, 0.2) !important;
}
.bg-blue{
	background-color: rgb(50, 100, 200, 0.2) !important;
}
.bg-gray{
	background-color: rgb(146, 148, 151, 0.2) !important;
}

p.event{
	font-size: .8em;
	font-weight: 600;
	margin-bottom: .5rem !important;	
}
.event-body{
	font-size: .7em;
}
.monthModal {
	display: none; /*평소에는 보이지 않도록*/
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
    z-index: 999;
}
.monthModal.on {
    display: block;
}
.monthModal .modal_popup {
	font-family: 'GmarketSansMedium', 'GmarketSansLight';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 22px;
    background: #ffffff;
    border-radius: 20px;
    background: rgba(255,255,255,1);
}
.monthModal table tr td{
	text-align: center;
	padding: 5px;
}
.monthModal table tr.month td span{
	word-break: keep-all;
	padding: 5px;
	cursor: pointer;
}
.fc-center{
	cursor: pointer;
}
/* 모바일 화면에서만 보이는 스타일 */
@media only screen and ( max-width : 1366px) {
	.fc-header-toolbar h2{
		font-size: 1.3em;
		height: 20px;
	}
	.fc-header-toolbar .fc-today-button{
		width: 5.5em;
		height: 6%;
	}
	.fc-toolbar h2{
		font-size: .8em !important;
	}
	.fc-event .fc-title, .fc-time {
		font-size: .7em !important;
		-webkit-line-clamp: 1 !important;
	}
	.fc .fc-row .fc-content-skeleton table,
	.fc .fc-row .fc-content-skeleton td,
	.fc .fc-row .fc-helper-skeleton td {
		padding: 0 !important;
	}
}
/* PC 화면에서만 보이는 스타일 */
@media only screen and ( min-width : 1367px) {
	.p-5{
		margin: auto;
		width: 85%;
	}
}