@charset "UTF-8";
/* 공통 스타일 */
.video_content {
	font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Malgun Gothic", "맑은 고딕", sans-serif;
	width: 100%;
	height: 100%;
	text-align: left;
	overflow: hidden;
}
.video_content .four span{
	font-size: .8em;
}
.menuTab, .six.tab div:not(.nohover), .bi-house, .bi-search, .six.tab .bi, .four label, .bi-arrow-clockwise{
	cursor: pointer;
}
span{
	padding-left: 7px;
}
.video_content a{
	color: black;
	text-decoration-line: none;
}
.group.tab label{
	width:100%;
	white-space: nowrap;
  	text-overflow: ellipsis;
  	overflow: hidden;
  	letter-spacing: -0.3px;
}
.folderNm {
    font-size: .7em;
}
.grid{
	height: 86vh !important;
}
/* 모바일 화면에서만 보이는 스타일 */
@media only screen and ( max-width : 1366px) {
	.window{
		padding: 0 !important;
		padding-top: 10vh !important;
		margin-bottom: 10%;
	}
	.video_content .one span, .five, .folderNm{
		font-size: .63em;
	}
	.video_content i {
		font-size: .8rem !important;
	}
	.video_content .four span{
		font-size: .6em;
	}
	.three i, .three i::before{
	  font-size: .8rem !important;
	}
	.six i {
	  font-size: .8rem !important;
	}
	.three i.bi-dash::before{
	  line-height: 0;
	  padding-top: 1.3em !important;
	}
	.three i.bi-x::before{
	  font-size: 1.2rem !important;
	  line-height: 0;
	  padding-top: .6em !important;
	}
}
/* PC 화면에서만 보이는 스타일 */
@media only screen and ( min-width : 1367px) {
	.window {
		margin: auto;
    	width: 90%;
	}
}