a {
    text-decoration: none;
    color: #1E1E1E;
}

/* 헤더 제외한 콘텐츠 영역 */
.content-section {
	font-family: 'NeoDunggeunmoPro-Regular';
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 35px); /* 헤더(35px) 제외한 나머지 높이 */
    overflow: hidden;
    padding: 0;
}
/* 1번째 줄: 선택 바 */
.video-nav {
	display: grid;
	justify-content: center;
	text-align: center;
	grid-template-columns: 50px repeat(3, 1fr);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: bolder;
}

.nav-item {
	display: grid;
	width: 100%;
	height: 100%;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    font-size: 17px;
}

.nav-item:nth-child(1) {
	text-align: center;
}

.nav-item.active {
    color: white;
    background-color: black;
}

/* 2번째 줄: 선택된 항목 표시 */
.video-display {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    align-items: center;
}

.folderTitle{
	display: flex;
    font-size: 18px;
}

.selected-title {
    margin: 0;
    font-size: 18px;
}

/* 보기 모드 선택 버튼 */
.view-options {
    display: flex;
    padding: 3px 0;
}

.view-btn {
	padding: 2px 10px;
	font-size: 22px;
}
.view-btn:nth-child(1){
    border-right: 1px solid #ddd;
}

/* 3번째 줄: 스크롤 가능한 콘텐츠 목록 */
.video-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: auto;
}

/* 2칸 보기 모드 */
.video-list.double {
    grid-template-columns: repeat(3, 1fr);
}

/* 스크롤바 커스텀 */
.video-list::-webkit-scrollbar {
    width: 8px;
}

.video-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.video-list::-webkit-scrollbar-track {
    background: #f0f0f0;
}

/* 콘텐츠 개별 아이템 */
.video-item {
    height: 50px;
    background-color: transparent;
    padding: 15px;
    text-align: left;
    border-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 20px repeat(1, 1fr);
    align-items: center;
    word-break: keep-all;
}

.video-list.double .video-item {
    text-align: center;
    grid-template-columns: 14px repeat(1, 1fr);
    font-size: 14px;
    height: 100px;
}


/* 반응형 스타일 */
@media (max-width: 900px) {
    
}

@media (min-width: 901px) {
    .video-nav {
    	justify-content: start;
    	text-align: left;
		grid-template-columns: 50px repeat(3, 15%);
    }
    .video-list.double .video-item {
	    font-size: 16px;
	}
}
