/*** General o> */
* {
  box-sizing: border-box;
}

.filmo_content {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
}

/*** Header */
h1 {
  background-color: #fff;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.05);
  color: #231f20;
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 3rem;
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
}
h1 strong {
  font-weight: 700;
  margin-right: 1rem;
  position: relative;
}
h1 strong sup {
  font-size: 1rem;
  position: absolute;
}

/*** Container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*** Card */
.card {
  perspective: 500;
  cursor: pointer;
  display: inline-block;
  margin: 0.4rem;
}
/* .card.y:hover .inner {
  transform: rotateY(180deg);
} */
.card .inner {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/*** Card common */
.card,
.front,
.back {
  height: 350px;
  width: 200px;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  left: 0;
  position: absolute;
  top: 0;
}

.pantone-tm {
  color: #231f20;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0.5rem 0;
  position: relative;
}
.pantone-tm sup {
  font-size: 0.7rem;
  position: absolute;
}

.color-info {
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.card.y{
  box-shadow: 5px 5px 10px rgb(175 175 175 / 43%);
} 
/*** Card front */
.front {
  z-index: 2;
}

.details {
  background-color: #fff;
  bottom: 0;
  height: 98px;
  padding: 10px;
  position: absolute;
  width: 100%;
  text-align: left;
}

.year {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: -28px;
  text-shadow: 0px 0px 15px gray;
}

/*** Card back */
.back {
  transform: rotateY(180deg);
  background-color: #fff;
  /* padding: 1.5rem 1.5rem 0; */
  text-align: center;
}
.back ul {
  margin-top: 1rem;
}
.back li {
  transition: color 0.3s;
  color: #888;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 10px 5px;
  text-align: left;
}
.back li:hover {
  color: #231f20;
}
.back li:not(:last-child) {
  border-bottom: 1px solid #f0f0f0;
}
.back li span {
  font-weight: normal;
  float: right;
}
.front, .back {
  background-size: 100%;
  background-repeat: no-repeat;
}
/*** Card img */
.pt-1 .front {
  background-image: url('https://blog.kakaocdn.net/dn/b8maBL/btsJgDtcyto/yKQskvn2VkqXyPnsAIGjoK/img.jpg');
}
.pt-1 .back {
  background-image: url('https://blog.kakaocdn.net/dn/MWt79/btsJfl8aREf/BJsxuPUQ7QF9Gltlxv6xdk/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-2 .front {
  background-image: url('https://blog.kakaocdn.net/dn/bGXrTT/btsJgdIpDKZ/bUbMOhnRZsxYg71WJWRgy1/img.webp');
}
.pt-3 .front {
  background-image: url('https://blog.kakaocdn.net/dn/bNbUuX/btsJgfTLHGX/6KdXLoVgdimyrKLuiw045K/img.jpg');
}
.pt-4 .front {
  background-image: url('https://blog.kakaocdn.net/dn/c17QBX/btsHl4OzzWN/JysK79Rvz5IkJtHg1Ku110/img.jpg');
  background-size: 106%;
}
.pt-5 .front {
  background-image: url('https://blog.kakaocdn.net/dn/ndEqE/btsJg7URziU/lLzVJVU9mGF6QXyn1fPqmK/img.jpg');
}
.pt-6 .front, .pt-7 .front  {
  background-image: url('https://blog.kakaocdn.net/dn/dtxThM/btsJeOXnEPa/M4kSafZLyqyVlKtqvzxpQ0/img.jpg');
}
.pt-7 .back {
  background-image: url('https://blog.kakaocdn.net/dn/cchpE8/btsHWT56uGe/srPYFWGKkRqrnE8DKqzhh0/img.jpg');
  background-size: 220%;
  background-color: black;
  background-position: -110 45;
}
.pt-8 .front {
  background-image: url('https://blog.kakaocdn.net/dn/cBJHor/btsJficGXRL/trBbWKLvHxdsVEMvKdJu9k/img.jpg');
}
.pt-9 .front {
  background-image: url('https://blog.kakaocdn.net/dn/C3hFu/btsJe9fUgzS/KX96kNBPOC2VVAyd1ryE3k/img.jpg');
}
.pt-9 .back {
  background-image: url('https://blog.kakaocdn.net/dn/ArLgk/btsJfzypXJm/FtAFMziLY25w63KYMQQpyK/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-10 .front {
  background-image: url('https://blog.kakaocdn.net/dn/bal7n7/btsJfocNeiP/A7hhOorEPxwEFlypeS1lwk/img.jpg');
}
.pt-11 .front, .pt-14 .front {
  background-image: url('https://blog.kakaocdn.net/dn/c7kCvx/btsJhgc5Nvp/8zaZkVyIBfUMYLQ3O6ZI90/img.jpg');
  background-size: 106%;
}
.pt-11 .back {
  background-image: url('https://blog.kakaocdn.net/dn/b6yqpK/btsHmxJMHF1/siLXlTytuZ2kfAwQWSb1j0/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-12 .front {
  background-image: url('https://blog.kakaocdn.net/dn/cmPI7U/btsJfEzHo6M/EP6yqcFtQjY3clbhzxA7CK/img.webp');
}
.pt-12 .back {
  background-image: url('https://blog.kakaocdn.net/dn/dBnX00/btsHo98MlZ6/vqes1syVhjTqDWAl9ePyo1/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-13 .front {
  background-image: url('https://blog.kakaocdn.net/dn/b6mzdO/btsJfalAdGy/gsv43cyN7Nn5fk91EPB3kK/img.png');
}
.pt-15 .front {
  background-image: url('https://blog.kakaocdn.net/dn/GntWI/btsJfC22Tir/qFOzQ8H8cgHl8pfo1aIY91/img.jpg');
}
.pt-16 .front {
  background-image: url('https://blog.kakaocdn.net/dn/4tLdJ/btsHpsNiIRV/COmqZzzve8NnAl92YTgTVK/img.jpg');
}
.pt-16 .back {
  background-image: url('https://blog.kakaocdn.net/dn/6CNo9/btsJgTbkxWb/g9ff7DqAyGiD3fSPJHHDqk/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-17 .front {
  background-image: url('https://blog.kakaocdn.net/dn/cClYat/btsJgJfLNzT/Rx2xT2yVCKjbVrAYkjQeIK/img.jpg');
}
.pt-18 .front {
  background-image: url('https://blog.kakaocdn.net/dn/GG8go/btsJfjv0ZOE/B1EfxRktFGqQ11ls1iwTYk/img.jpg');
}
.pt-19 .front {
  background-image: url('https://blog.kakaocdn.net/dn/8aqwI/btsHo3HgYqB/HYxqk9BlGK04VU30tmntpK/img.png');
  background-size: 105%;
}
.pt-20 .front {
  background-image: url('https://blog.kakaocdn.net/dn/b3ofo4/btsJe6ctslV/TKhe5y8qJZ2ykS1PhKvdMK/img.jpg');
}
.pt-21 .front {
  background-image: url('https://blog.kakaocdn.net/dn/sEgfN/btsJggLUFWz/T48CJnKPYevrQKuKxmkGPK/img.jpg');
}
.pt-22 .front {
  background-image: url('https://blog.kakaocdn.net/dn/cCC1n7/btsJfl8kX1t/TknsnOkwHx146ytA0CoNT1/img.jpg');
}
.pt-23 .front {
  background-image: url('https://blog.kakaocdn.net/dn/cfJgQv/btsJeOXnEq5/zm2LZyFvMsbQsXcX3VN1Nk/img.jpg');
}
.pt-24 .front {
  background-image: url('https://blog.kakaocdn.net/dn/ABAAg/btsJf9zj7SU/zdKFcGBKXAkzFxw3OpJJkK/img.jpg');
}
.pt-24 .back {
  background-image: url('https://blog.kakaocdn.net/dn/0ZllB/btsJfqnZF5c/urpmnrTW96iBd5Vu21kxc1/img.jpg');
  background-size: cover;
  background-position: -35 0;
}
.pt-25 .front {
  background-image: url('https://blog.kakaocdn.net/dn/l1I87/btsJfCIJv9J/cDyMgFfiRzjAPpCdkuB9X1/img.jpg');
}
.pt-26 .front {
  background-image: url('https://blog.kakaocdn.net/dn/biJDl8/btsJfG5qsH0/VGrd4URGHqN3Kakz9ADmv0/img.webp');
}
.pt-26 .back {
  background-image: url('https://blog.kakaocdn.net/dn/XooSL/btsJfQT6cTF/S0Xy6VMc4EkEJhFV4yf5fk/img.jpg');
  background-size: cover;
  background-position: -110 0;
}
.pt-27 .front {
  background-image: url('https://blog.kakaocdn.net/dn/byeclA/btsJfE7zbA4/QOU1fvC9juhCcnnapKTAqK/img.webp');
}
.pt-27 .back {
  background-image: url('https://blog.kakaocdn.net/dn/pksRb/btsJfNJXgRj/xs7GqKwvlifbfZrVas2trk/img.jpg');
  background-size: cover;
  background-position: -65 0;
}
.pt-28 .front {
  background-image: url('https://blog.kakaocdn.net/dn/Rz5Zx/btsJgaSxEmT/oUC4nkCz2tB8kZ59jPCV7K/img.jpg');
}
.pt-28 .back {
  background-image: url('https://blog.kakaocdn.net/dn/blKruP/btsJePV4HZf/lZ0V2Tu7TSJVtXPS5o7jY0/img.jpg');
  background-size: cover;
  background-position: -130 0;
}
.pt-29 .front {
  background-image: url('https://blog.kakaocdn.net/dn/Wxw1E/btsJggd3Kea/OIF0enAgmImzXOv1pLnJS1/img.png');
}
.pt-30 .front {
  background-image: url('https://blog.kakaocdn.net/dn/moxxG/btsJfOPMhKD/viIvLQJZ0Z7hZ4RA7NbAPK/img.jpg');
}
.pt-30 .back {
  background-image: url('https://blog.kakaocdn.net/dn/dckM2b/btsJfHpx0fg/jQQquCqG6btaMa0N2JDX8K/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-31 .front {
  background-image: url('https://blog.kakaocdn.net/dn/blkzmm/btsJfnrqMB2/vE5z5HtYgr1rQdM7hLqRJ0/img.png');
}
.pt-31 .back {
  background-image: url('https://blog.kakaocdn.net/dn/cFeckS/btsJgb4RSwS/mEewOdYnunTQuu9ImIVEoK/img.jpg');
  background-size: cover;
  background-position: -5 0;
}
.pt-32 .front {
  background-image: url('https://blog.kakaocdn.net/dn/w1ckI/btsHoHK8ESg/wMvhYp7nKyEFRdIgyOJHzK/img.jpg');
}
.pt-33 .front {
  background-image: url('https://blog.kakaocdn.net/dn/lnZJr/btsJgfsJshf/oXuOIU3XdK8B8KZvXljFLK/img.jpg');
}
.pt-33 .back {
  background-image: url('https://blog.kakaocdn.net/dn/oejTz/btsJfPue0sI/Z6vhYp4R0LnGYiWUmgrgKK/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-34 .front {
  background-image: url('https://blog.kakaocdn.net/dn/cj7Iry/btsJgHI1wTM/jpsWesZYCPaokR6GgknRD0/img.webp');
}
.pt-34 .back {
  background-image: url('https://blog.kakaocdn.net/dn/muXq3/btsJgFxDXIv/XnLGnL14iaSP5eb6eOOv3k/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-35 .front {
  background-image: url('https://blog.kakaocdn.net/dn/zjDxj/btsJgcbNUWo/Osa38esIbiiz36TP0ts1pK/img.jpg');
}
.pt-36 .front, .pt-51 .front {
  background-image: url('https://blog.kakaocdn.net/dn/xFVhG/btsJfme49R3/tL1vuQtN7swFDZrcX6fPy0/img.webp');
}
.pt-36 .back {
  background-image: url('https://blog.kakaocdn.net/dn/bA9i2U/btsJfHXnehM/vV8MvDXheVK2uYFf2z41K0/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-37 .front {
  background-image: url('https://blog.kakaocdn.net/dn/5Pkqy/btsJgRrcfvk/Yetn5LCWAaCnV847wN1rH0/img.jpg');
  background-position: -50 0;
  background-size: 150%;
}
.pt-38 .front {
  background-image: url('https://blog.kakaocdn.net/dn/cs6zwi/btsJge1z0E1/CZnvujGnO1hP60XfNnDrdK/img.jpg');
  background-position: -19 -9;
  background-size: 150%;
}
.pt-39 .front {
  background-image: url('https://blog.kakaocdn.net/dn/bz2WE2/btsJgx7PwQ2/gMFzxuvgkkiFUwzcYsh4j0/img.jpg');
}
.pt-40 .front {
  background-image: url('https://blog.kakaocdn.net/dn/pNkS9/btsJfh5Tfz4/xaWMkQrI3hxRt84dyhTR70/img.jpg');
}
.pt-41 .front {
  background-image: url('https://blog.kakaocdn.net/dn/dZTlz4/btsJfRFC62Y/OD1qCOAkojZiKBAeS7qYb1/img.webp');
}
.pt-41 .back {
  background-image: url('https://blog.kakaocdn.net/dn/HbL60/btsJePoj3ec/qaOS5K0zbpZiNHEgZh6h00/img.jpg');
  background-size: cover;
  background-position: -90 0;
}
.pt-42 .front {
  background-image: url('https://blog.kakaocdn.net/dn/vNkMw/btsJhgD9PsA/uVRLKulDYuqMiCvtQIOBSK/img.jpg');
}
.pt-43 .front {
  background-image: url('https://blog.kakaocdn.net/dn/q1Nwz/btsJfnyelBN/kqHEEWD1YEI42RYw4Asoqk/img.png');
}
.pt-43 .back {
  background-image: url('https://blog.kakaocdn.net/dn/kHj4I/btsJeSZKpp0/3H4Khc84in9vK5Xpx50pok/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-44 .front {
  background-image: url('https://blog.kakaocdn.net/dn/3nN0a/btsJgwHObWk/rK1F3tkyNnACjRJHm1jQ71/img.png');
}
.pt-44 .back {
  background-image: url('https://blog.kakaocdn.net/dn/Z0UYI/btsJePoj3eW/KtfKUiHqA1dF5BQrXMX4aK/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-44-1 .front {
  background-image: url('https://blog.kakaocdn.net/dn/PYHcT/btsJgHI1vV5/HLZ7u3A19xAWf6EnnnQUk1/img.jpg');
  background-size: 250%;
  background-position: -18vh 15;
  background-color: black;
}
.pt-44-1 .back {
  background-image: url('https://blog.kakaocdn.net/dn/bhMEM2/btsJe9GQP7c/uOzmLn4LQTchp22Tv8ZSx0/img.jpg');
  background-size: 180%;
  background-position: center;
  background-color: black;
}
.pt-45 .front {
  background-image: url('https://blog.kakaocdn.net/dn/byf9yz/btsJfzrKt69/Gqp9tTrxPeDkjbXtXPoMrk/img.png');
}
.pt-45 .back {
  background-image: url('https://blog.kakaocdn.net/dn/bP8fW1/btsJfi4HDgM/74YkwlcNkHdRNM2uHrnb6k/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-46 .front {
  background-image: url('https://blog.kakaocdn.net/dn/egSsqj/btsJe7icCFR/m6Y1N5TDUG79yvGVvGaOK0/img.jpg');
}
.pt-47 .front {
  background-image: url('https://blog.kakaocdn.net/dn/lfdUV/btsJe7vIoJK/kqmppVck8N8703s2028301/img.jpg');
}
.pt-48 .front {
  background-image: url('https://blog.kakaocdn.net/dn/bbTA7V/btsJhgc5LZm/mQKJK8fgcrk3HKiedJFkA0/img.png');
}
.pt-49 .front {
  background-image: url('https://blog.kakaocdn.net/dn/dy1gr1/btsJfHiUq5V/n3WL3WiMqLDriazwqV7qFK/img.jpg');
}
.pt-50 .front {
  background-image: url('https://blog.kakaocdn.net/dn/di2x9F/btsJgIgQ9Df/aPsixZTWAHxR806hA6z5u0/img.webp');
}
.pt-50 .back {
  background-image: url('https://blog.kakaocdn.net/dn/wYpkx/btsJgw13kwF/IRvMkI4AEuaTW3WvI7qIfk/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-52 .front {
  background-image: url('https://blog.kakaocdn.net/dn/OVvel/btsJfAjSX7V/IBiCe42wuDiZ5BD1G2pTR1/img.jpg');
}
.pt-52 .back {
  background-image: url('https://blog.kakaocdn.net/dn/chYpXi/btsJfdvJIoI/9oexrxdnUO5zA2iHYzbS1k/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-53 .front {
  background-image: url('https://blog.kakaocdn.net/dn/lk2SH/btsJgcpiuG1/nsU9YrqAet3lk9U1yITCp1/img.jpg');
}
.pt-53 .back {
  background-image: url('https://blog.kakaocdn.net/dn/O1knV/btsJf8mK8ZE/JZtG1h0t3wepYwTEcbsBg1/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-54 .front {
  background-image: url('https://blog.kakaocdn.net/dn/2AzTI/btsJgEr4RrQ/UiIaPXo9t1oAgKdw9ZuWPK/img.jpg');
}
.pt-54 .back {
  background-image: url('https://blog.kakaocdn.net/dn/yi0zr/btsJgfMQDvh/0pV9QOwDcs2w0LYsrBxWvk/img.png');
  background-size: cover;
  background-position: center;
}
.pt-55 .front {
  background-image: url('https://blog.kakaocdn.net/dn/dlUkww/btsJe46PMbO/oYSGY6kDLDtpz8I8SEhlt1/img.jpg');
}
.pt-55 .back {
  background-image: url('https://blog.kakaocdn.net/dn/cK8IxW/btsJfmzee38/oKuiiqZjWgWN0aVIKN0n71/img.png');
  background-size: cover;
  background-position: center;
}
.pt-56 .front {
  background-image: url('https://blog.kakaocdn.net/dn/b95zDF/btsJf8Hd5wj/3G6Spu30qRndh7yaE1GKTK/img.png');
}
.pt-56 .back {
  background-image: url('https://blog.kakaocdn.net/dn/P3IQA/btsJfhYYsOK/B5efJ1y2LEJ8VSejkMsFCk/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-57 .front, .pt-62 .front {
  background-image: url('https://blog.kakaocdn.net/dn/bpORNw/btsJfC22RYF/baB9QCYhpe25Uj76OQTD7K/img.png');
}
.pt-57 .back {
  background-image: url('https://blog.kakaocdn.net/dn/sS4wp/btsJfUWwxfQ/HRL1aUAxDNS4VPqhsaNej1/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-58 .front {
  background-image: url('https://blog.kakaocdn.net/dn/cjgV9m/btsJfDnjK3h/fc1DIhEyOBSek6ThJHSt4K/img.jpg');
}
.pt-58 .back {
  background-image: url('https://blog.kakaocdn.net/dn/dHVagS/btsJf9lGeB0/gnmKNFpXuMqCipupk8EmbK/img.jpg');
  background-size: cover;
  background-position: -25 0;
}
.pt-59 .front {
  background-image: url('https://blog.kakaocdn.net/dn/c7C1EK/btsJg71Dj4u/ICguU4V6AEgxq1PxhhbPBk/img.webp');
}
.pt-59 .back {
  background-image: url('https://blog.kakaocdn.net/dn/cDkmtU/btsJfcct04K/HK1Cw6y5M9Yh5kbjdPDoB1/img.jpg');
  background-size: cover;
  background-position: -55 0;
}
.pt-60 .front {
  background-image: url('https://blog.kakaocdn.net/dn/r238V/btsJfTDqep9/PrHJf4EExkxSZXG2tis42k/img.jpg');
}
.pt-60 .back {
  background-image: url('https://blog.kakaocdn.net/dn/bwY0Kc/btsJfPHJOLq/Y6SBAXhC6ggjweZRHfTDJK/img.jpg');
  background-size: cover;
  background-position: -48 0;
}
.pt-61 .front {
  background-image: url('https://blog.kakaocdn.net/dn/bSidb1/btsJe8BmKCV/SXZ3dx5ZWY8fTxfz06ZWyk/img.png');
  background-size: 103%;
}
.pt-61 .back {
  background-image: url('https://blog.kakaocdn.net/dn/nhV27/btsJfoqcRO3/zalkc9PwEm9kOD0QiAjzUk/img.png');
  background-size: cover;
  background-position: center;
}
.pt-63 .front, .pt-64 .front, .pt-72 .front {
  background-image: url('https://blog.kakaocdn.net/dn/WC6sJ/btsJgw8TpSX/DSUFpLhHKAPcWgfLUfd3qK/img.png');
}
.pt-63 .back {
  background-image: url('https://blog.kakaocdn.net/dn/cY1Hbq/btsJe5keh04/gPxcQtCF5R5IVnX2f7rqKk/img.png');
  background-size: cover;
  background-position: center;
}
.pt-65 .front {
  background-image: url('https://blog.kakaocdn.net/dn/vVebk/btsJfBwn7xY/UUm77yerIfHLQsA0cOKEk0/img.jpg');
}
.pt-65 .back {
  background-image: url('https://blog.kakaocdn.net/dn/vIOaX/btsJfFZzl31/1WLxLqsrEkekz4fQq0BZxK/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-66 .front {
  background-image: url('https://blog.kakaocdn.net/dn/y2fxx/btsJfow8aPR/dqEwr1UI9uZ4IVVnVVWlQ1/img.jpg');
}
.pt-66 .back {
  background-image: url('https://blog.kakaocdn.net/dn/G0KSl/btsJe73rfyA/urNYmhyh0HMs0P5lIspAGK/img.jpg');
  background-size: cover;
  background-position: -35 0;
}
.pt-67 .front {
  background-image: url('https://blog.kakaocdn.net/dn/YIGaP/btsJfB4aLjh/yhXWwrOj6Ab9H2NBX4t1Pk/img.jpg');
}
.pt-68 .front {
  background-image: url('https://blog.kakaocdn.net/dn/Zp8qA/btsJg3yiWvY/W9d4FNnNMKEEfWCwXjj5E1/img.jpg');
}
.pt-69 .front {
  background-image: url('https://blog.kakaocdn.net/dn/ZfexN/btsJgTP5kMp/PeYHlbv8sBkYcfKmeqXxs1/img.jpg');
}
.pt-69 .back {
  background-image: url('https://blog.kakaocdn.net/dn/bH4XhJ/btsJg4DP6hD/snrlFkZEYB03rMw525pitK/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-70 .front {
  background-image: url('https://blog.kakaocdn.net/dn/bEUcF1/btsJgCA7ckQ/k1PK5su4jHmaH34bEmLGR0/img.jpg');
}
.pt-70 .back {
  background-image: url('https://blog.kakaocdn.net/dn/dDkEut/btsJgwgCN6t/3EeDEjmeyW6nwg26cUqTU1/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-71 .front {
  background-image: url('https://blog.kakaocdn.net/dn/bY10qe/btsJeT5qOfI/64QwIJyyALAQYJFleYUhsK/img.jpg');
}
.pt-71 .back {
  background-image: url('https://blog.kakaocdn.net/dn/po8x9/btsJgGcbRKf/gCSLOItKcvx3H2DAo5DuXk/img.jpg');
  background-size: cover;
  background-position: center;
}
.pt-73 .front {
  background-image: url('https://blog.kakaocdn.net/dn/G2p05/btsOjvclMPF/CHvKA4aXPiJWukss5Co261/img.png'');
}
.pt-73 .back {
  background-image: url('https://blog.kakaocdn.net/dn/biKzJw/btsOjZjYSPE/gcIWT3mqFY3avnjZwEOC30/img.png');
  background-size: cover;
  background-position: center;
}
.pt-74 .front {
  background-image: url('https://blog.kakaocdn.net/dn/v2lXT/btsOj7WDleb/3nf76L3yfqjP1ARjKcHHu0/img.png');
}
.pt-74 .back {
  background-image: url('https://blog.kakaocdn.net/dn/ebSVKd/btsOifaOjtv/5jpZi8rDoKl4PeNAbWrk7k/img.png');
  background-size: cover;
  background-position: center;
}
.pt-75 .front {
  background-image: url('https://blog.kakaocdn.net/dna/ceO1sk/btsOOAr9qKE/AAAAAAAAAAAAAAAAAAAAAMuQ7hIr4WlAsFKw-i741VWAGSB_9JU4gS0B4wtjSKEP/img.png?credential=yqXZFxpELC7KVnFOS48ylbz2pIh7yKj8&expires=1751295599&allow_ip=&allow_referer=&signature=JX7FRX9jLvcuaNjEE0N6svOPHkM%3D');
}
.pt-75 .back {
  background-image: url('https://blog.kakaocdn.net/dn/8PFL7/btsOm8OBaXH/JgXcFGshCVxBoDGGM7olHk/img.png');
  background-size: cover;
  background-position: center;
}