.tile,.answer {
	height: 0;
	padding-bottom: 100%;
	grid-area: var(--area, auto);
	border: none;
	background: url('https://blog.kakaocdn.net/dn/qCeRO/btsH0yNouXa/bnLLSFt83IR5Dtt0fr3iPK/img.jpg');
	background-size: 300%;
}
