.tile,.answer {
	height: 0;
	padding-bottom: 100%;
	grid-area: var(--area, auto);
	border: none;
	background: url('https://blog.kakaocdn.net/dn/bYdap6/btsH0NKg3E3/2JOkWv1rvhzDl8sLmzWPx0/img.jpg');
	background-size: 300%;
}
