.tile,.answer {
	height: 0;
	padding-bottom: 100%;
	grid-area: var(--area, auto);
	border: none;
	background: url('https://blog.kakaocdn.net/dn/bVpyxR/btsHZd4OqTp/nKg5WV5PmF7cjcZ3dZ7s7K/img.jpg');
	background-size: 300%;
}
